@CHARSET "UTF-8";

html {
	margin: 0;
	padding: 0;
	background-color: white;
}

body {
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	color: #666666;
	background: white;
	font-family: arial, sans-serif;
	font-size: small;
}


#footer{
	display: block;
	background-color: #CCCCCC;
	padding: 5px 10px;
}

#footer a{
	color: #666666;
	margin-right: 20px;
	font-weight: bold;
}


#betaLink {
	opacity: 0.5;
	margin-left: 3px;
	font-size: small;
	font-style: italic;
	color: #CCCCCC;
}

#betaLink:HOVER {
	text-decoration: underline;
}

.errorMessage{
	background-color: red;
	color: black;
}

.hidden {
	display: none;
}

ul {
	list-style-type: square;
}

input.placeholderWorkaround{
	color: #CCCCCC;
}

td {
	vertical-align: top;
}

a {
	color: #b42d00;
	text-decoration: none;
}

a:HOVER, a:ACTIVE {
	text-decoration: underline;
}


input[type=text], input[type=password], textarea {
	border: solid 1px #666666;
}

#header{
	height: 50px;
}

#title {
	margin: 0;
	position: absolute;
	top: 20px;
	left: 20px;
}

#title a {
	color: #666666;
	text-decoration: none;
}

#authenticationZone {
	position: absolute;
	top: 20px;
	right: 20px;
	white-space: nowrap;
	font-size: large;
}

#loginForm {
}

#authenticationZone input{
	border: solid 1px #666666;
}

#authenticationZone input[type=submit] {
	background-color: #CC3300;
	color: white;
}

#authenticationZone input[type=text], #authenticationZone input[type=password] {
	width: 100px;
	margin-right: 5px;
}

#memberName{
	display: inline;
	margin-right: 5px;
}

table {
	border: 1px solid gray;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px gray solid;
}

th {
	font-size: medium;
	text-align: left;
	border: 1px gray solid;
	background-color: #CC3300;
	color: white;
	padding: 2px 5px;
}

#eventTable .dayHeader{
	font-weight: bold;
	width: 100px;
	text-align: center;
	padding: 2px 5px;
	background-color: #EEEEEE;
}

#eventTable .dayCell {
	vertical-align: top;
	height: 50px;
	padding: 0;
	font-size: small;
}

.dayCell .dateLabel{
	background-color: #EEEEEE;
	padding: 0 3px;
	display: block;
	font-weight: bold;
}

.dayCell .dateLabel:HOVER{
	background-color: #ffd7ca;
	color: #666666;
	text-decoration: none;
	white-space: pre;
}

.currentMonth .dateLabel{
	color: #666666;
}

th button {
	font-weight: bold;
	background-color: #812000;
	color: white;
	border: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 4px;
	cursor: pointer;
}

.paddingMonth .dateLabel{
	color: #BBBBBB;
}

.dayCell ul {
	padding: 0;
	margin: 0;
	padding-left: 18px;
	padding-right: 3px;
}

.today{
	background-color: #feffce;
}

.dayCell li {
	color: #666666;
	margin-bottom: 3px;
}

.eventLink {
	font-weight: normal;
	color: #666666;
}

.highlighted {
	color: #b42d00;
}

#eventTable .paddingMonth{
	background-color: #EEEEEE;
}

#eventTable .dateLabel{
	text-align: right;
}

#eventBody td.header, #memberTable td.header, td.header {
	font-weight: bold;
	background-color: #EEEEEE;
	padding: 2px 5px;
}

#eventAuthor, #eventAuthor a, #memberDetails {
	font-size: small;
	font-weight: normal;
	color: #fcbda8;
}

#eventAuthor, #memberDetails {
	font-style: italic;
}

#eventDate {
	margin-top: 5px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: medium;
	font-style: italic;
}

#eventDescription {
	padding: 3px 5px;
	width: 100%;
}

#eventDescription .highlight {
	font-weight: bold;
	color: black;
}

#participantColumn {
	padding: 0;
}

#participantColumn, #participantTable {
	width: 250px;
}

#participantTable {
	border-collapse: collapse;
	border: none;
}

#participantTable td {
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 0;
}

.participantLink, .participantLink:HOVER{
	cursor: pointer;
	text-decoration: none;
	display: block;
	color: #666666;
	padding: 3px 5px;
}

.participantName{
	font-weight: bold;
}
.participantDetails{
	color: #BBBBBB;
	font-style: italic;
}

.ellipsedText{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#controlBar{
	margin-top: 10px;
}

.clickable{
	cursor: pointer;
}

#memberDetails{
	font-weight: normal;
	font-style: italic;	
	color: #fcbda8;
}

#memberTable td {
	padding: 0;
}

.memberItem, .memberItem:HOVER {
	color: #666666;
	padding: 2px 5px;
	text-decoration: none;
	display: block;
}

.memberItem .label {
	font-weight: bold;
}
.memberItem .details {
	color: #999999;
}


#editEventTable td {
	padding: 2px 5px;
}

#editEventTable td.header {
	text-align: right;
	width: 150px;
}

#editEventTable #titleInput {
	width: 300px;
}

#editEventTable #maxParticipantsInput {
	width: 50px;
}

#editEventTable textarea {
	margin: 0;
	display: block;
	width: 100%;
	height: 200px;
	font-family: arial, sans-serif;
}

#deleteButton {
	color: #9b2700;
	font-weight: bold;
}

#cancelLink {
	color: #666666;
}


