@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	color: #666666;
	background: white;
	font-family: sans-serif;
	font-size: small;
}

body {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.errorMessage{
	background-color: red;
	color: black;
}

.hidden {
	display: none;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #C30;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #666;
}

a:hover, a:active {
	text-decoration: none;
	color: #666;
}

.select {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

.archives {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

#header{
	height: 50px;
}

#title{
	margin: 0;
	position: absolute;
	top: 20px;
	left: 20px;
	
	display: compact;
}

#loginForm {
	position: absolute;
	top: 20px;
	right: 20px;
	
	white-space: nowrap;
	display: compact;
	font-size: large;
}

#loginForm input{
	border: solid 1px #666666;
}

#loginForm input[type=submit] {
	background-color: #C30;
	color: white;
}

#loginForm input[type=text], #loginForm input[type=password] {
	width: 100px;
}

#memberName{
	display: inline;
}

#eventTable ul {
	margin: 0;
	padding: 0 0 0 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	list-style-type: none;
}

#eventTable li {
	padding-left: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#eventTable .dayHeader{
	width: 80px;
	text-align: center;
}

#eventTable {
	border: 1px solid gray;
	border-collapse: collapse;
	background-color: #EEE;
	margin: 0 auto;
	margin-top: 1em;
}

#eventTable th {
	text-align: center;
	border: 1px gray solid;
	background-color: #C30;
	color: white;
}

#eventTable td {
	border: 1px gray solid;
	padding: 2px 5px;
}

#eventTable table.admin {
	width: 500px;
	border: 1px gray solid;
	background-color: #EEE;
}

#eventTable th.admin {
	text-align: center;
	border: 1px gray solid;
	background-color: #C30;
	color: white;
}

#eventTable td.admin {
	width: 100px;
}

#eventTable input[type=submit] {
	width: 80px;
	height: 20px;
	background-color: #C30;
	color: #000;
}

#eventTable input[type=submit].admin {
	width: 50px;
	height: 20px;
	background-color: #C30;
	color: #000;
}

#eventTable .warning {
	color: red;
}

#buffet {
	line-height: 18px;
}

#buffet select {
	font-size: 11px;
}

#buffet textarea {
	font-size: 11px;
	margin: 5px 10px;
}

#buffet input[type="submit"] {
	display: block;
	margin: 1ex auto;
	background-color: #C30;
	color: #FFF;
}

/***lselect***/
#lselect h3 {
	padding: 0;
	margin: 0;
	width: 199px;
	height: 21px;
}

#lselect h3 {
	color: #666;
	border-top: 1px #666 solid;
	border-bottom: 1px #666 solid;
}

#lselect ul,#blog ul {
	margin: 20px 0 20px 0;
	padding: 0;
	list-style-type: none;
}

#lselect li,#blog li {
	padding-left: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#lselect a {
	padding-left: 18px;
	display: block;
	background-repeat: no-repeat;
	background-position: 0 2px;
}

#lselect a:hover {
	padding-left: 18px;
	display: block;
}

#lselect a.c {
	color: #999;
	font-weight: normal;
	text-decoration: none;
	padding-left: 0;
	display: inline;
}

#lselect a.c:hover {
	padding-left: 0;
	display: inline;
}


