<?php
	
	$databases = array(
		'calendar' => array(
			'host' => '',
			'database' => '',
			'user' => '',
			'password' => '',
			'charset' => 'UTF-8'
		),
		'member' => array(
			'host' => '',
			'database' => '',
			'user' => '',
			'password' => '',
			'charset' => 'UTF-8'
		),
		'remoteMember' => array(
			'host' => '',
			'charset' => 'ISO-8859-1'
		)
	);
